    	<div class="col-md-10 col-md-offset-2 ">
    	  <ol class="breadcrumb">
    	    <li><a href="#">首页</a></li>
    	    <li><a href="#">个人中心管理</a></li>
    	    <li class="active">添加积分兑换</li>
  	    </ol>
    	  <div class="table-responsive ">
    	    <h3>添加积分兑换 <small>Exchange Add</small></h3>
    	    <div class="list-group ">
    	      <div class="list-group-item">
    	        <form role="form" method="post" action="__MODULE__/Personal/doAddexchange">
    	          <div class="input-group"> <span class="input-group-addon">兑<img src="__PUBLIC__/end/images/em.png" alt="" width="6" height="20"><img src="__PUBLIC__/end/images/em.png" alt="" width="6" height="20">换：</span>
    	            <input type="text" class="form-control" placeholder=""  name="goods">
  	            </div>
    	          <div class="input-group "> <span class="input-group-addon" for="inputWarning1">积分：</span>
    	            <input type="text" class="form-control" placeholder="" id="input" name="gmark">
  	            </div>
    	          <div class="input-group"> <span class="input-group-addon">物品图片：</span>
                  <input name="thumb" id="" type="file" style="margin-left:20px;">
                </div>
    	          <div class="input-group"> <span class="input-group-addon">剩余数量：</span>
    	            <input type="text" class="form-control" placeholder=""  name="gnum">
  	            </div>
  	            </div>
    	          <div class="input-group">
    	            <button type="submit" class="btn btn-primary "> &nbsp;&nbsp;保<img src="__PUBLIC__/end/images/em.png" alt="" width="20" height="20">存&nbsp;&nbsp;</button>
  	            </div>
  	          </form>
  	        </div>
  	      </div>
  	    </div>
  	  </div>

        	
	
