    	<div class="col-md-10 col-md-offset-2 ">
    	  <ol class="breadcrumb">
    	    <li><a href="#">首页</a></li>
    	    <li><a href="#">个人中心</a></li>
    	    <li class="active">个人足迹</li>
  	    </ol>
    	  <div class="table-responsive ">
    	    <h3>个人足迹</h3>
    	    <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="table  table-striped table-hover ">
    	      <tr>
            <th width="4%"><input type="checkbox" name="checkbox10" id="checkbox10"></th>
    	        <th width="4%"> i d</th>
    	        <th width="13%">用户id</th>
              <th width="25%">拍摄地点</th>
    	        <th width="10%">足迹缩略图</th>
    	        <th width="7%">操作</th>
  	        </tr>
    	      <volist name="footprint" id="footprint">
    	      <tr>
              <th width="4%"><input type="checkbox" name="checkbox10" id="checkbox10"></th>
    	        <td>{$footprint.id}</td>
    	        <td>{$footprint.userid}</td>   	        
              <td>{$footprint.site}</td>
    	        <td><img src="images/head.gif" style="width:50px;height:30px"></td>
    	        <td><a href="deletefoot/id/{$footprint.id}">删除</a></td>
  	        </tr>
            </volist>
  	      </table>
  	    </div>
        <div class="input-group pull-left form">
          <button type="submit" class="btn btn-danger "> 删 除</button>
        </div>
    	  <div class="input-group pull-left form">
    	    
  	    </div>
    	  <ul class="pagination pull-right" >
    	    <li class="disabled"><a href="#">&laquo;</a></li>
    	    <li class="active"><a href="#">1</a></li>
    	    <li><a href="#">2</a></li>
    	    <li><a href="#">3</a></li>
    	    <li><a href="#">4</a></li>
    	    <li><a href="#">&raquo;</a></li>
  	    </ul>
  	  </div>
	</div>
  
