
    	<div class="col-md-10 col-md-offset-2 ">
    	  <ol class="breadcrumb">
    	    <li><a href="#">首页</a></li>
    	    <li><a href="#">推荐管理</a></li>
    	    <li class="active">旅店</li>
  	    </ol>
    	  <div class="table-responsive ">
    	    <h3 style="display:inline;">旅店</h3>
          <form action="__MODULE__/Recommend/addhotel" method="post" style="display:inline; margin-left:1100px;">
            <button type="submit" class="btn btn-warning">添加旅店</button>
          </form>
    	    <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="table  table-striped table-hover " style="margin-top:20px;">
    	      <tr>
              <th width="4%"><input type="checkbox" name="checkbox10" id="checkbox10"></th>
    	        <th width="5%">旅店id</th>
    	        <th width="5%">旅店名称</th>
              <th width="5%">添加时间</th>
    	        <th width="20%">地点</th>
                <th width="5%">赞数</th>
                <th width="10%">推荐理由</th>
    	        <th width="10%">操作</th>
  	        </tr>
            <volist name="hotel" id="hotel">
    	      <tr>
              <th width="4%"><input type="checkbox" name="checkbox10" id="checkbox10"></th>
    	        <td>{$hotel.id}</td>
              <td>{$hotel.hotel}</td>
              <td>{$hotel.hoteltime}</td>
    	        <td>{$hotel.site}</td>
    	        <td>{$hotel.praise}</td>
              <td>{$hotel.reason}</td>
    	        <td><a href="modihotel/id/{$hotel.id}">修改</a> <a href="deletehotel/id/{$hotel.id}">删除</a></td>
  	        </tr>
            </volist>
  	      </table>
  	    </div>
        <div class="input-group pull-left form">
            <button type="submit" class="btn btn-danger "> 删 除</button>
        </div>
    	  <div class="input-group pull-left form">
    	    
  	    </div>
    	  <ul class="pagination pull-right" >
    	    <li class="disabled"><a href="#">&laquo;</a></li>
    	    <li class="active"><a href="#">1</a></li>
    	    <li><a href="#">2</a></li>
    	    <li><a href="#">3</a></li>
    	    <li><a href="#">4</a></li>
    	    <li><a href="#">&raquo;</a></li>
  	    </ul>
  	  </div>
	</div>

