.bread{z-index:1;margin-left:10px;margin-top: 20px;}
.bread a{text-decoration:none;font-size: 14px;color:#607d8b;font-weight:bold;font-family: '微软雅黑';}
.mybody2{overflow:hidden;zoom:1;width:1200px;margin-left:10px;background-color:#ffb61e;}
.footer{background-color:#ffb61e; padding-left:80px;margin-top:0px;margin-bottom:0px;z-index: 1;} 
.footer p{
        	height: 50px;  	
        	color: white;
        	font-family: '微软雅黑';
        	font-size: 15px;
        	text-align: center;
}