    	<div class="col-md-10 col-md-offset-2 ">
    	  <ol class="breadcrumb">
    	    <li><a href="#">首页</a></li>
    	    <li><a href="#">活动管理</a></li>
    	    <li class="active">添加PK</li>
  	    </ol>
    	  <div class="table-responsive ">
    	    <h3>添加PK <small>PK Add</small></h3>
    	    <div class="list-group ">
    	      <div class="list-group-item">
    	        <form role="form" method="post" action="__MODULE__/Activity/doAddpk">
    	          <div class="input-group"> <span class="input-group-addon">P<img src="__PUBLIC__/end/images/em.png" alt="" width="6" height="20"><img src="__PUBLIC__/end/images/em.png" alt="" width="6" height="20">K：</span>
    	            <input type="text" class="form-control" placeholder=""  name="theme">
  	            </div>
    	          <div class="input-group"> <span class="input-group-addon">添加时间：</span>
    	            <input type="text" class="form-control" placeholder="2016-12-12"  name="time">
  	            </div>
  	            </div>
    	          <div class="input-group">
    	            <button type="submit" class="btn btn-primary "> &nbsp;&nbsp;保<img src="__PUBLIC__/end/images/em.png" alt="" width="20" height="20">存&nbsp;&nbsp;</button>
  	            </div>
  	          </form>
  	        </div>
  	      </div>
  	    </div>
  	  </div>

        	
	
