  <div class="col-md-10 col-md-offset-2 ">
      <ol class="breadcrumb">
          <li><a href="#">首页</a></li> 
      </ol>
      <div class="row pad">
          <div class="col-md-6">
              <div class="panel panel-default">
              <div class="panel-body">
                <img src="__PUBLIC__/end/images/main1.gif" width="63" height="63" class="pull-left img1">
                <div class=" nr">
                    <h5 >账户管理<span>2016-11-11</span></h5>
                	<p>统一管理管理员账户，可以对管理员信息进行修改、删除</p>
                </div>
              <a href="userManage.html"><button type="button" class="btn btn-primary pull-right">点击进入<span class="glyphicon glyphicon-circle-arrow-right"></span> 
              </button></a>
              </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="panel panel-default">
              <div class="panel-body">
                <img src="__PUBLIC__/end/images/main2.gif" width="63" height="63" class="pull-left img1">
                <div class=" nr">
                  <h5 >个人中心<span>2016-11-11</span></h5>
              	  <p>统一管理用户账户，可以对用户进行修改、删除</p>
                </div>
              <a href="userPersonal.html"><button type="button" class="btn btn-primary pull-right">点击进入<span class="glyphicon glyphicon-circle-arrow-right"></span> 
              </button></a>
              </div>   
              </div>
          </div>
      </div>
                
      <div class="row pad">
          <div class="col-md-6">
            <div class="panel panel-default">
            <div class="panel-body">
              <img src="__PUBLIC__/end/images/main3.gif" width="63" height="63" class="pull-left img1">
              <div class=" nr">
                <h5>推荐管理<span>2016-11-11</span></h5>
            	  <p>用户可查看美食、购物、旅店、景点的信息</p>
              </div>
            <a href="recommend.html"> <button type="button" class="btn btn-primary pull-right">点击进入<span class="glyphicon glyphicon-circle-arrow-right"></span> 
            </button></a>
            </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default">
            <div class="panel-body">
              <img src="__PUBLIC__/end/images/main4.gif" width="63" height="63" class="pull-left img1">
              <div class=" nr">
                <h5 >攻略管理<span>2016-11-11</span></h5>
              	<p>为用户提供出行攻略，用户可以发布攻略、查看攻略</p>
              </div>
              <a href="straregy.html"> <button type="button" class="btn btn-primary pull-right">点击进入<span class="glyphicon glyphicon-circle-arrow-right"></span> 
              </button></a>
            </div>   
            </div>
          </div>
      </div>

      <div class="row pad">
        <div class="col-md-6">
          <div class="panel panel-default">
          <div class="panel-body">
            <img src="__PUBLIC__/end/images/main5.gif" width="63" height="63" class="pull-left img1">
            <div class=" nr">
                <h5 >动态管理<span>2016-11-11</span></h5>
            	<p>可以添加、修改、删除动态、用户可以通过参与活动获得奖励</p>        
            </div>
            <a href="dynamic.html"><button type="button" class="btn btn-primary pull-right">点击进入<span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button></a>
          </div>
          </div>
        </div>             
      </div>
  </div>

         	

        	
	
