html{padding:0px;margin:0px;border:0px;overflow-x:auto;}
        body{padding-bottom:0px;padding:0px;margin:0px;border:0px;}
        a{color:#000;text-decoration:none;}      
        .content{zoom:1;background-color:#fade98;}
        .mybody1{overflow:hidden;zoom:1;width:1200px;background-color:#ffb61e;}
        .mybody2{overflow:hidden;zoom:1;width:1200px;background-color:#ffb61e;}
        .mybody{overflow:hidden;zoom:1;width:1290px;margin-left:10px;background-color:#fade98;}
        .header{zoom:1;background-color:#ffb61e;padding-left:100px;margin-top:0px;height:70px;}
        .logo{float:left;padding-top:10px;padding-left:30px;height:70px;}
        .nav{float:left;overflow:hidden;zoom:1;margin-top:0px;margin-left:50px;width:800px;z-index:1;}
        .nav ul{overflow:hidden;zoom:1;padding-left:0px;padding-top:13px;}
        .nav ul li{width:148px;float:left;text-align:center;list-style-type:none;}
        .nav ul li a{font-size:20px;text-decoration:none;color:#fff;font-weight:bold;display:block;font-family: '微软雅黑';}
        .nav ul li a:hover{text-decoration:none;color:#ff7043;}
        .nav li ul li{width:110px;background-color:#ffb61e ;text-decoration:none; margin-left: 40px;color:white; font-weight:bold; font-size:15px;opacity:0.8;}
        .nav li ul{width:153px;text-align:left;position:absolute;display:none;z-index: 1;} 
        .nav li:hover ul{display: block;margin-left: -22px;}
        .nav li ul a{font-family: '微软雅黑';margin-left:-28px;margin-top:6px;font-size: 14px;height:40px;width:108px;padding:0px 15px 0px 30px;display: block;}
        .b_nav{float:right;width:100px;height:60px;margin-top:15px;margin-right:15px;}
        .b_nav a{float:left;color:#FFF;text-decoration:none;font-size: 14px;}
        .register{float:left;width:50px;border-right:1px solid #FFF;}
        .login{float:right;width:40px;margin-left:10px;margin-top: -40px;} 
        .body1{margin-left: 60px; }
        .top1{position: absolute; margin-top: -120px;margin-left: 150px;}
        .top1 img{margin-top: -130px;width: 140px;height: 140px;}
        .top2{position: absolute;margin-left:300px; }
        .top3{position: absolute;margin-left:605px; }
        .top4{position: absolute;margin-left:905px; }
        .duihuan{margin-left: 60px;}
        .jifen1{margin-top: -200px; margin-left: 50px; font-weight: bold;font-size: 30px;}
        #touxiang{margin-left:50px;width:110px;height:110px;border-radius:60px;}
        .jifen2{margin-left: 300px;margin-top: -80px;font-weight: bold;font-size: 20px;}
        .jifen3{margin-left: 450px;font-weight: bold;font-size: 20px;}
        .ct-pageWrapper{margin-top: 60px;background-color: #fade98;}
        .container{background-color: #fade98;}
        .main{background-color: #fade98;}
        .footer{background-color:#ffb61e; padding-left:100px;margin-top:0px;margin-bottom:0px;} 
        .footer p{
                height: 30px;   
                color: white;
                font-family: '微软雅黑';
                font-size: 15px;
                text-align: center;
        }