        html{padding:0px;margin:0px;border:0px;overflow-x:hidden;}
        body{padding-bottom:0px;padding:0px;margin:0px;border:0px;}
        a{color:#000;text-decoration:none;}        
        .content{zoom:1;background-color:#fade98;margin-top: -60px;}
        .mybody1{zoom:1;width:1024px;}
        .mybody2{zoom:1;width:100%;background-color:#ffb61e;}
        .mybody{zoom:1;width:990px;margin-left:-10px;background-color:#fade98; margin-top: -56px;}        
.header{zoom:1;background-color:#ffb61e;margin-top:0px;height:70px;padding-left:50px;}
        .logo{float:left;padding-top:10px;padding-left:20px;height:70px;}
        .nav{float:left;zoom:1;margin-top:0px;margin-left:50px;width:600px;z-index:1;}
        .nav ul{zoom:1;padding-left:0px;padding-top:20px;}
        .nav ul li{width:120px;float:left;text-align:center;list-style-type:none;}
        .nav ul li a{font-size:20px;text-decoration:none;color:#fff;font-weight:bold;display:block;font-family: '微软雅黑';}
        .nav ul li a:hover{text-decoration:none;color:#ff7043;}
        .nav li ul li{width:110px;background-color:#ffb61e ;text-decoration:none; margin-left: 20px;color:white; font-weight:bold; font-size:15px;opacity:0.8;}
        .nav li ul{width:153px;text-align:left;position:absolute;display:none;z-index: 1;} 
        .nav li:hover ul{display: block;margin-left: -22px;}
        .nav li ul a{font-family: '微软雅黑';margin-top:6px;font-size: 15px;height:23px;width:108px;padding:0px 20px 0px 20px;display: block;}
        .b_nav{float:left;width:100px;height:50px;margin-top:15px;margin-left:20px;}
        .b_nav a{color:#FFF;text-decoration:none;font-size: 14px;}
        .register{float:left;width:50px;border-right:1px solid #FFF; }
        .login{width:40px;margin-left: 60px;} 
        .body1{width: 100%; margin-top: -60px;}
        .body1 img{width: 100%;}
        .duihuan{width: 100%;}
        .duihuan img{width: 890px;height: 200px;}
        .top1{position: absolute; margin-top: -80px;margin-left: 80px;}
        .top1 img{zoom:1;margin-top: -130px;width: 144px;height: 140px;}
        .top2{position: absolute;margin-left:170px; }
        .top3{position: absolute;margin-left:420px; }
        .top4{position: absolute;margin-left:670px; }
        .duihuan{margin:15px 0 0 15px;}
        .jifen1{margin-top: -200px; margin-left: -700px; font-weight: bold;font-size: 30px;}
        #touxiang{margin-left:-700px;width:110px;height:110px;border-radius:60px;margin-top: 20px;}
        .jifen2{margin-left: -400px;margin-top: -80px;font-weight: bold;font-size: 20px;}
        .jifen3{margin-left: -220px;font-weight: bold;font-size: 20px;}
        .main{background-color: #fade98;}
        .footer{background-color:#ffb61e; padding-top:10px;margin-top:-30px;padding-bottom:10px;text-align:center;} 
        .footer p{
                color: white;
                font-family: '微软雅黑';
                font-size: 15px;
                margin-left: 10px;
                text-align: center;
        }
.ct-pageWrapper{margin-left:30px;}
.body1{margin-left:20px;}