body {
	color: #787878;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 14px;
	line-height: 1.5;
}
.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}


/**************************************
	Content styles
**************************************/

@media (min-width: 600px) {
	section.content h2 {
		font-size: 42px;
	}
	section.content p {
		font-size: 20px;
	}
}

section.content {
	padding: 40px 0;
}
section.content h2 {
	margin-bottom: 40px;
	font-family: "Roboto Slab", serif;
	font-size: 30px;
}
section.content p {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 300;
}
section.content p:last-child {
	margin-bottom: 0;
}

/**************************************
	Parralax styles
**************************************/
section.parallax {
	position: relative;
	height: auto;
	padding: 180px 0px;

	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
section.parallax:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 100;
    content: ' ';
}
section.parallax h1 {
	color: #fff;
	position: relative;
	z-index: 101;
	font-size: 48px;
	line-height: 1.5;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

/**************************************
	Parralax blocks
**************************************/
section.parallax.parallax-1 {
	background-image: url("../img/247096.jpg");
	background-position: 100% 100%;
	z-index: -1;
}

section.parallax.parallax-2 {
	background-image: url("../img/247096.jpg");
	z-index: -1;
}

section.parallax.parallax-3 {
	background-image: url("../img/247096.jpg");
	z-index: -1;
}
