@charset "utf-8";
 html{padding:0px;margin:0px;border:0px;overflow-x:hidden;min-height:100%;}
        body{padding-bottom:0px;padding:0px;margin:0px;border:0px;height:100%;}
        a{color:#000;text-decoration:none;}      
        .content{zoom:1;overflow:auto;background-color:#fade98;min-height:100%;}
        .title h1{font-size:30px;margin:0px 0px 0px 0px;padding:20px 0 10px 0;color:#ff7043}
        .mybody1{zoom:1;width:1024px;background-color:#ffb61e;}
      
        .mybody{overflow:hidden;zoom:1;width:975px;background-color:#ffb61e;}
        .header{zoom:1;background-color:#ffb61e;margin-top:0px;height:70px;padding-left:50px;}
        .logo{float:left;padding-top:10px;padding-left:20px;height:70px;}
        .nav{float:left;zoom:1;margin-top:0px;margin-left:50px;width:600px;z-index:1;}
        .nav ul{zoom:1;padding-left:0px;padding-top:20px;}
        .nav ul li{width:120px;float:left;text-align:center;list-style-type:none;}
        .nav ul li a{font-size:20px;text-decoration:none;color:#fff;font-weight:bold;display:block;font-family: '微软雅黑';}
        .nav ul li a:hover{text-decoration:none;color:#ff7043;}
        .nav li ul li{width:110px;background-color:#ffb61e ;text-decoration:none; margin-left: 20px;color:white; font-weight:bold; font-size:15px;opacity:0.8;}
        .nav li ul{width:153px;text-align:left;position:absolute;display:none;z-index: 1;} 
        .nav li:hover ul{display: block;margin-left: -22px;}
        .nav li ul a{font-family: '微软雅黑';margin-top:6px;font-size: 15px;height:23px;width:108px;padding:0px 20px 0px 20px;display: block;}
        .b_nav{float:left;width:100px;height:60px;margin-top:15px;margin-right:15px;}
        .b_nav a{color:#FFF;text-decoration:none;font-size: 14px;}
        .register{float:left;width:50px;border-right:1px solid #FFF;margin-left: 50px }
        .login{width:40px;margin-left: 110px;} 
        .pag{float:left;position:relative;margin-top:120px;margin-left:550px;}
        .pages {float:right;padding:10px 0 10px;font-family:'微软雅黑';text-decoration: none;}
        .pages a {display:inline-block;height:20px; width: 50px;line-height:20px; background:white; border:0px; text-align:center; color:#ff7043; padding:10 10px;opacity:0.6;text-decoration: none;border-radius:6px;}
        .pages a.a1 {display:inline-block; height:20px; width: 50px;line-height:20px; background:white; border:0px; color:#ff7043; text-align:center;padding:10 10px;opacity:0.6;border-radius:6px; }
        .pages a:hover {background:#ff7043; color:white; text-decoration:none;}
        .pages span {display:inline-block; height:20px; width: 50px;line-height:20px; background:#ff7043; border:0px; color:white; text-align:center;padding:10 10px;opacity:0.6;border-radius:6px;}
        .page .noPage {display:inline-block; height:20px; width: 50px;line-height:20px; background:white; border:0px; color:#ff7043; text-align:center;padding:8 8px;opacity:0.6;border-radius:6px; }

         .footer{background-color:#ffb61e; padding-left:0px;margin-left:-20px;margin-top:0px;margin-bottom:0px;}
        .mybody2{overflow:hidden;zoom:1;width:1024px;background-color:#ffb61e;}
        .introduction{
            width:1024px;
        } 
        .int1{
              float: left;
              margin-left: -20px;
              width:200px;
              height:200px;
              border-right: 1px dotted white;
              text-align: center;
              color: white;
        }
        .int1 h4{
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 10px;
        }
        .int1 p{
            font-size: 16px;
            font-family: '微软雅黑';
            line-height: 40px;
        }
        .int1 p a{
            color: white;
        }
        .int1 a:hover{
            color: red;
        }
        .int2{
            float: left;
            width:200px;
            height:200px;
            text-align: center;
            border-right: 1px dotted white;
            color: white;
        }
         .int2 h4{
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 10px;
        }
        .int2 p{
            font-size: 16px;
            font-family: '微软雅黑';
            line-height: 40px;
        }
        .int2 p a{
            color: white;
        }
        .int2 a:hover{
            color: red;
        }
        .int3{
            float: left;
            width: 200px;
            height:200px;
            text-align: center;
            border-right: 1px dotted white;
            color: white;
        }
         .int3 h4{
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 10px;
        }
        .int3 p{
            font-size: 16px;
            font-family: '微软雅黑';
            line-height: 40px;
        }
        .int3 p a{
            color: white;
        }
        .int3 a:hover{
            color: red;
        }
        .int4{
            float: left;
            width: 200px;
            height:200px;
            text-align: center;
            border-right: 1px dotted white;
            color: white;
        }
        .int4 h4{
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 10px;
        }
        .int4 p{
            font-size: 16px;
            font-family: '微软雅黑';
            line-height: 40px;
        }
        .int4 p a{
            color: white;
        }
        .int4 a:hover{
            color: red;
        }
        .weixin{
            text-align: center;
            margin-top: 50px;
        }
        .friend{
            padding:30px;
            border-top: 1px solid white;
            margin-top: 40px;
            margin-bottom: 10px;
            border-bottom:1px solid white;
            text-align: left;
            font-size: 14px;
            font-weight: lighter;
        }
        .friend a{
            color: white;
            line-height: 25px;
        }
        .friend a:hover{
            color: red;
        }


        .bread{z-index:1;padding-left:10px;padding-top: 20px; background-color:#fade98}
.bread a{text-decoration:none;font-size: 14px;color:#607d8b;font-weight:bold;font-family: '微软雅黑';}
.footer{zoom:1;background-color:#ffb61e;color:white;font-family:'微软雅黑';font-size:14px;text-align:center;padding:20px;line-height:22px;}