body {
      font-family: Arial,Verdana;

}
p {

    margin: 0;
    padding: 0;

}
.button {

    -moz-user-select: none;

    -webkit-touch-callout: none;

    -webkit-user-select: none;

    -khtml-user-select: none;

    -ms-user-select: none;

    user-select: none;

}

/* CSS for the font-name + font-size plugin */

.wysiwyg-toolbar-list {

    max-height: 16em;

    overflow: auto;

    overflow-x: hidden;

    overflow-y: scroll;

}

.wysiwyg-toolbar-list a,

.wysiwyg-toolbar-list a:link,

.wysiwyg-toolbar-list a:visited {

    display: block;

    color: black;

    padding: 5px 10px;

    text-decoration: none;

    cursor: pointer;

}

.wysiwyg-toolbar-list a:hover {

    color: HighlightText;

    background-color: Highlight;

}

/* CSS for the smiley plugin */

.wysiwyg-toolbar-smilies {

    padding: 10px;

    text-align: center;

    white-space: normal;

}

.wysiwyg-toolbar-smilies img {

    display: -moz-inline-stack; /* inline-block: http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */

    display: inline-block;

    *display: inline;

}