<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>迷途网</title>
<link rel="stylesheet" href="__PUBLIC__/end/css/bootstrap.css">
<link href="__PUBLIC__/end/css/jquery-ui.css" rel="stylesheet">
<link href="__PUBLIC__/end/css/mystyle.css" rel="stylesheet">
<script src="__PUBLIC__/end/js/jquery.js"></script>    
<script src="__PUBLIC__/end/js/bootstrap.min.js"></script>


</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <img src="__PUBLIC__/end/images/me too .png" style="width:120px; height:60px">
    <span class="navbar-logo" > 迷途网账户管理</span>
   </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
    
    <ul class="nav navbar-nav navbar-right mr">
      <li><a href="#" class="navbar-brand"><span class="glyphicon glyphicon-star"></span>欢迎：Administrator</a></li>
      <li><a href="#" class="navbar-brand"><span class="glyphicon glyphicon-log-out"></span>退出系统</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav> 

  <div class="row">
      <div class=" col-md-2 sidebar">
        <div id="accordion">
          <h3><a href="#"><span class="glyphicon glyphicon-lock"></span>账户管理<span class="glyphicon glyphicon-chevron-down"></span></a></h3>
          <ul>
            <li><a href="__MODULE__/Admin/lists">管理员管理</a></li>
            <li><a href="__MODULE__/Admin/add">添加管理员</a></li>
            <li><a href="__MODULE__/Admin/modi">修改信息</a></li>
          </ul>
          <h3><a href="#"><span class="glyphicon glyphicon-file"></span>个人中心<span class="glyphicon glyphicon-chevron-down"></span></a></h3>
          <ul>
            <li><a href="__MODULE__/Personal/lists">用户管理</a></li>
            <li><a href="__MODULE__/Personal/footprint">个人足迹</a></li>
              <li><a href="__MODULE__/Personal/exchange">积分兑换</a></li>
              <li><a href="__MODULE__/Personal/record">兑换记录</a></li>
            </ul>
          <h3><a href="#"><span class="glyphicon glyphicon-book"></span>推荐管理<span class="glyphicon glyphicon-chevron-down"></span></a></h3>
          <ul>
            <li><a href="__MODULE__/Recommend/food">美食</a></li>
            <li><a href="__MODULE__/Recommend/shopping">购物</a></li>
            <li><a href="__MODULE__/Recommend/hotel">旅店</a></li>
            <li><a href="__MODULE__/Recommend/scenery">景点</a></li>
          </ul>
          <h3><a href="#"><span class="glyphicon glyphicon-tags"></span>攻略管理<span class="glyphicon glyphicon-chevron-down"></span></a></h3>
          <ul>
            <li><a href="__MODULE__/Strategy/travelnote">游记</a></li>
            <li><a href="__MODULE__/Strategy/question">问答</a></li>
          </ul>
            <h3><a href="#"><span class="glyphicon glyphicon-pencil"></span>动态管理<span class="glyphicon glyphicon-chevron-down"></span></a></h3>
          <ul>
            <li><a href="__MODULE__/Activity/pk">至美一拍</a></li>
            <li><a href="__MODULE__/Activity/guess">猜猜看</a></li>
            </ul>
        </div>
    	</div>
          {__CONTENT__}

      </div>
        	
<script src="__PUBLIC__/end/js/jquery-ui.js"></script>
<script>
$( "#accordion" ).accordion({
      heightStyle: "content"
    });
</script>
</body>
</html>
