<form action="__MODULE__/Book/delete">
    	<div class="col-md-10 col-md-offset-2 ">
    	  <ol class="breadcrumb">
    	    <li><a href="#">首页</a></li>
    	    <li><a href="#">图书管理</a></li>
    	    <li class="active">图书列表</li>
  	    </ol>
    	  <div class="table-responsive ">
    	    <h3>新进图书 <small>Books List</small></h3>
    	    <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="table  table-striped table-hover ">          
    	      <tr>
    	        <th width="4%"><input type="checkbox" name="checkbox10" id="checkbox10"></th>
    	        <th width="20%">图书名称</th>
    	        <th width="8%">作者</th>
    	        <th width="27%">出版社</th>
    	        <th width="10%">出版日期</th>
    	        <th width="10%">ISBN</th>
    	        <th width="10%">ISSN</th>
    	        <th width="11%">操作</th>
  	        </tr>
            <volist name="book_list" id="d">
    	      <tr>
    	        <td><input type="checkbox" name="id[]" id="checkbox" value="{$d.books_id}"></td>
    	        <td>{$d.title}</td>
    	        <td>{$d.author}</td>
    	        <td>{$d.publisher}</td>
    	        <td>{$d.publishtime}</td>
    	        <td>{$d.isbn}</td>
    	        <td>{$d.issn}</td>
    	        <td><a href="modi/id/{$d.books_id}">修改</a><a href="#"></a> <a href="delete/id/{$d.books_id}">删除</a></td>
  	        </tr>
    	   </volist>
  	      </table>
  	    </div>
    	  <div class="input-group pull-left form">
    	    <button type="submit" class="btn btn-danger "> 删 除</button>
  	    </div>
    	  <ul class="pagination pull-right" >
    	    <li class="disabled"><a href="#">&laquo;</a></li>
    	    <li class="active"><a href="#">1</a></li>
    	    <li><a href="#">2</a></li>
    	    <li><a href="#">3</a></li>
    	    <li><a href="#">4</a></li>
    	    <li><a href="#">&raquo;</a></li>
  	    </ul>
  	  </div>
</form>	
