.per{margin-top:-205px;background-image:url(../images/qiandao1.png);background-repeat: no-repeat;width:1050px;height:600px;margin-top:25px;padding:30 0 30 20;}
.nav{}
.per1{float:left;width:600px;float:left;padding-top:0px;padding-left:30px;}
.per1 h1{color:rgb(213, 214, 226);;}
.per2{float:left;margin-top:30px;margin-left:150px;width:300px;}
.mark p{width: 200px; margin-left: 80px;}
.personal{margin-top:70px;}
.personal1{margin-top:60px;}
.per2 h1{color:rgb(213, 214, 226);;}
.btn1{color:#fff;background-color: #ff7043;width:150px;border-radius:6px;height: 40px;font-size: 16px;font-weight: bold; margin-left: 70px; margin-top: 30px;}
.photo{margin-left:30px;margin-top:-20px;color: rgb(213, 214, 226);;}
    .container{margin-top: 30px;margin-left: 100px;width:1300px;}
    #col1{
     	float: left;
      width:400px;
    	height:450px;
      padding-left: -30px;
    	/*background:#fad74d;*/  
       		
    } 
    #col2{
    	float: left;
        width:400px;
    	height:450px;
    	/*background:#fad74d;*/
      
    
    }
    .travelnote{margin-left:50px;margin-top:-40px;color: rgb(213, 214, 226);;}
    .youjicontent{
    	width:1000px;
    	height:500px;
    	margin-left: 50px;
    	margin-top:30px;
    }

    .youjicontent1{ 	
    	margin-top: 30px;
    	background:lightyellow;
    	padding:10px 10px 10px 10px;
    	border-radius: 15px;
    }
    .pic3{   
    	float: left;
    	width:250px;
    	height:160px;
    }
    .youjicontent1 p{
    	font-family: 'Î¢ÈíÑÅºÚ';
    	width:600px;
    	margin-left: 280px;
    	font-size: 1.1em;
    }
    .pic4{
    	margin-top: 20px;
    	margin-left: 450px;
    }
    .pic5{
        margin-left: 20px;
    }
    .pic6{
        margin-left: 20px;
    }
    
    .youjicontent2{
	background:lightyellow;
	padding:10px 10px 10px 10px;
    	border-radius: 15px;
    	margin-top: 30px;
    	/*margin-left: 30px;*/
    }
    .youjicontent2 p{
     	font-family: 'Î¢ÈíÑÅºÚ';
     	font-size: 1.1em;
    	width:600px;
    	margin-left: 280px;
    }
    .pic7{
    	float: left;
    	width:250px;
    	height:160px;
    }
    .pag{margin-top:500px;margin-left:-450px;}
    .pages {padding:10px 0 10px;font-family:'Î¢ÈíÑÅºÚ';text-decoration: none;}
    .pages a {display:inline-block;height:26px; width: 50px;line-height:26px; background:white; border:0px; text-align:center; color:#ff7043; padding:10 10px;opacity:0.6;text-decoration: none;border-radius:6px;}
    .pages a.a1 {display:inline-block; height:26px; width: 70px;line-height:26px; background:white; border:0px; color:#ff7043; text-align:center;padding:10 10px;opacity:0.6;border-radius:6px; }
    .pages a:hover {background:#ff7043; color:white; text-decoration:none;}
    .pages span {display:inline-block; height:26px; width: 50px;line-height:26px; background:#ff7043; border:0px; color:white; text-align:center;padding:10 10px;opacity:0.6;border-radius:6px;}
    .page .noPage {display:inline-block; height:26px; width: 50px;line-height:26px; background:white; border:0px; color:#ff7043; text-align:center;padding:8 8px;opacity:0.6;border-radius:6px; }

    .ask{margin-left:30px;margin-top:-25px;color: rgb(213, 214, 226);;}
    .question{margin-left:10px;zoom:1;overflow:hidden;float:left;margin-right:100px;}
    .pag1{margin-top:540px;margin-left:600px;}
    .pag2{margin-left:600px;margin-top:0px;}
    .pricingTable{
      float: left;
      width: 450px;
      padding-left: 50px;
      text-align: center;
  }
  .pricingTable .pricingTable-header{
      padding: 30px 0;
      background: #FFCB48;
      position: relative;
      transition: all 0.3s ease 0s;
  }
  .pricingTable:hover .pricingTable-header{
      background: #fa8869;
  }
  .pricingTable .pricingTable-header:before,
  .pricingTable .pricingTable-header:after{
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid #ff7043;
      position: absolute;
      bottom: 12px;
  }
  .pricingTable .pricingTable-header:before{
      left: 40px;
  }
  .pricingTable .pricingTable-header:after{
      right: 40px;
  }
  .pricingTable .heading{
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 0;
  }
  .pricingTable .price-value{
      display: inline-block;
      position: relative;
      font-size: 35px;
      font-weight: bold;
      color: #f5653d;
      transition: all 0.3s ease 0s;
  }
  .pricingTable:hover .price-value{
      color: #fff;
  }
  .pricingTable .currency{
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      top: 6px;
      left: -19px;
  }
  .pricingTable .month{
      font-size: 16px;
      color: #fff;
      position: absolute;
      bottom: 15px;
      right: -30px;
      text-transform: uppercase;
  }
  .pricingTable .pricing-content{
      padding-top: 50px;
      background: #fff;
      position: relative;
  }
  .pricingTable .pricing-content:before,
  .pricingTable .pricing-content:after{
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid #7c7c7c;
      position: absolute;
      top: 12px;
  }
  .pricingTable .pricing-content:before{
      left: 40px;
  }
  .pricingTable .pricing-content:after{
      right: 40px;
  }
  .pricingTable .pricing-content ul{
      padding: 0 20px;
      margin: 0;
      list-style: none;
  }
  .pricingTable .pricing-content ul:before,
  .pricingTable .pricing-content ul:after{
      content: "";
      width: 8px;
      height: 46px;
      border-radius: 3px;
      background: linear-gradient(to bottom,#ff7043 50%,#ff7043 50%);
      position: absolute;
      top: -22px;
      z-index: 1;
      box-shadow: 0 0 5px #707070;
      transition: all 0.3s ease 0s;
  }
  .pricingTable:hover .pricing-content ul:before,
  .pricingTable:hover .pricing-content ul:after{
      background: linear-gradient(to bottom, #ffa726 50%, #ffa726 50%);
  }
  .pricingTable .pricing-content ul:before{
      left: 44px;
  }
  .pricingTable .pricing-content ul:after{
      right: 44px;
  }
  .pricingTable .pricing-content ul li{
      font-size: 15px;
      font-weight: bold;
      color: #777473;
      padding: 10px 0;
      border-bottom: 1px solid #d9d9d8;
  }
  .pricingTable .pricing-content ul li:last-child{
      border-bottom: none;
  }
  .pricingTable .read{
      display: inline-block;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      background: #ff7043;
      padding: 8px 25px;
      margin: 30px 0;
      transition: all 0.3s ease 0s;
  }
  .pricingTable .read:hover{
      text-decoration: none;
  }
  .pricingTable:hover .read{
      background: #FFCB48;
  }