    	<div class="col-md-10 col-md-offset-2 ">
    	  <ol class="breadcrumb">
    	    <li><a href="#">首页</a></li>
    	    <li><a href="#">帐户管理</a></li>
    	    <li class="active">添加管理员</li>
  	    </ol>
    	  <div class="table-responsive ">
    	    <h3>添加管理员 <small>User Add</small></h3>
    	    <div class="list-group ">
    	      <div class="list-group-item">
    	        <form role="form" method="post" action="__MODULE__/Admin/doAdd">
    	          <div class="input-group"> <span class="input-group-addon">用<img src="__PUBLIC__/end/images/em.png" alt="" width="6" height="20">户<img src="__PUBLIC__/end/images/em.png" alt="" width="6" height="20">名：</span>
    	            <input type="text" class="form-control" placeholder=""  name="username">
  	            </div>
    	          <div class="input-group "> <span class="input-group-addon" for="inputWarning1">真实姓名：</span>
    	            <input type="text" class="form-control" placeholder="" id="input" name="realname">
  	            </div>
    	          <div class="input-group"> <span class="input-group-addon">手机号码：</span>
    	            <input type="text" class="form-control" placeholder=""  name="phonenum">
  	            </div>
    	          <div class="input-group"> <span class="input-group-addon">电子邮箱：</span>
    	            <input type="text" class="form-control" placeholder=""  name="email">
  	            </div>
    	          <div class="input-group"> <span class="input-group-addon">添加时间：</span>
    	            <input type="text" class="form-control" placeholder="2014-05-22"  name="time">
  	            </div>
                <div class="input-group"> <span class="input-group-addon">设置密码：</span>
    	            <input type="text" class="form-control" placeholder="123456"  name="password">
  	            </div>
                <div class="input-group"> <span class="input-group-addon">确认密码：</span>
    	            <input type="text" class="form-control" placeholder="123456"  name="repassword">
  	            </div>
    	          <div class="input-group">
    	            <button type="submit" class="btn btn-primary "> &nbsp;&nbsp;保<img src="__PUBLIC__/end/images/em.png" alt="" width="20" height="20">存&nbsp;&nbsp;</button>
  	            </div>
  	          </form>
  	        </div>
  	      </div>
  	    </div>
  	  </div>

        	
	
