   	<div class="col-md-10 col-md-offset-2 ">
    	  <ol class="breadcrumb">
    	    <li><a href="#">首页</a></li>
    	    <li><a href="#">帐户管理</a></li>
    	    <li class="active">个人信息修改</li>
  	    </ol>
    	  <div class="table-responsive ">
    	    <h3>个人信息修改 <small>Personal Modify</small></h3>
    	    <div class="list-group ">
    	      <div class="list-group-item">
    	        <form role="form" method="post" action="__MODULE__/Admin/doEdit">
                <input type="hidden" name="user_id" value="{$users.user_id}" />
    	          <div class="input-group"> <span class="input-group-addon">用<img src="__PUBLIC__/end/images/em.png" alt="" width="6" height="20">户<img src="__PUBLIC__/end/images/em.png" alt="" width="6" height="20">名：</span>
    	            <input type="text" class="form-control" placeholder="" name="username" value="{$users.username}" readonly>
  	            </div>
    	          <div class="input-group "> <span class="input-group-addon" for="inputWarning1">真实姓名：</span>
    	            <input type="text" class="form-control" placeholder="" name="realname" value="{$users.realname}" id="input">
  	            </div>
    	          <div class="input-group"> <span class="input-group-addon">手机号码：</span>
    	            <input type="text" class="form-control" placeholder="" name="phonenum" value="{$users.phonenum}">
  	            </div>
    	          <div class="input-group"> <span class="input-group-addon">电子邮箱：</span>
    	            <input type="text" class="form-control" placeholder="" name="email" value="{$users.email}">
  	            </div>
    	          <div class="input-group"> <span class="input-group-addon">注册时间：</span>
    	            <input type="text" class="form-control" placeholder="" name="time" value="{$users.time}" readonly>
  	            </div>
    	          <div class="input-group">
    	            <button type="submit" class="btn btn-primary "> &nbsp;&nbsp;保<img src="__PUBLIC__/end/images/em.png" alt="" width="20" height="20">存&nbsp;&nbsp;</button>
  	            </div>
  	          </form>
  	        </div>
  	      </div>
  	    </div>
  	  </div>

        	
