 html{padding:0px;margin:0px;border:0px;overflow-x:auto;}
        body{padding-bottom:0px;padding:0px;margin:0px;border:0px;}
        a{color:#000;text-decoration:none;}      
        .content{zoom:1;background-color:#fade98;}
        .mybody1{overflow:hidden;zoom:1;width:1200px;background-color:#ffb61e;}
        .mybody2{overflow:hidden;zoom:1;width:1200px;background-color:#ffb61e;}
        .mybody{overflow:hidden;zoom:1;width:1290px;margin-left:10px;background-color:#fade98;}
        .header{zoom:1;background-color:#ffb61e;padding-left:100px;margin-top:0px;height:70px;}
        .logo{float:left;padding-top:10px;padding-left:30px;height:70px;}
        .nav{float:left;overflow:hidden;zoom:1;margin-top:0px;margin-left:50px;width:800px;z-index:1;}
        .nav ul{overflow:hidden;zoom:1;padding-left:0px;padding-top:20px;}
        .nav ul li{width:148px;float:left;text-align:center;list-style-type:none;}
        .nav ul li a{font-size:20px;text-decoration:none;color:#fff;font-weight:bold;display:block;font-family: '微软雅黑';}
        .nav ul li a:hover{text-decoration:none;color:#ff7043;}
        .nav li ul li{width:110px;background-color:#ffb61e ;text-decoration:none; margin-left: 40px;color:white; font-weight:bold; font-size:15px;opacity:0.8;}
        .nav li ul{width:153px;text-align:left;position:absolute;display:none;z-index: 1;margin-left:-13px;} 
        .nav li:hover ul{display: block;}
        .nav li ul a{font-family: '微软雅黑';margin-left:-8px;margin-top:6px;font-size: 14px;height:23px;width:108px;padding:0px 15px 0px 30px;display: block;}
        .b_nav{float:right;width:100px;height:60px;margin-top:15px;margin-right:15px;}
        .b_nav a{float:left;color:#FFF;text-decoration:none;font-size: 14px;}
        .register{float:left;width:50px;border-right:1px solid #FFF;}
        .login{float:right;width:40px;margin-left:10px;} 
        h1{
            color: #555555;
            text-align:center;
            margin-top: 40px;
        }
        .pic1{
            text-align: center;
            position: relative;
            margin-left: 800px;
        }
        .btn1{
            text-align: center;
        }
        .btn1 button{
            background-color: #ffa726;
            font-size: 1.5em;
            width:200px;
            height:50px;
            border-radius: 18px;
            color: white;
        }

        .pic2{
            float: left;
            margin-left: 15px;
            margin-top: -20px;
        }
        .pic2 img{
            width:65px;
            height:55px;     
        }
        .p1{
            float:left;
            margin-left: 10px;
            margin-top: -10px;
        }
        .p1 p{
            font-size: 1.6em;
            font-weight: bold;
            color:#f4511e;
            font-family: '微软雅黑';
        }
        .pic3 img{
            margin-left:5px;
            margin-top: -10px;
        }
        #con1{
            margin-left:325px;
        }
        #col1{
            margin-left:-120px;
            float:left;
        }
        #col2{
            float:left;
        }

        #pic6{
            width:120px;
            height:100px;
            margin-top:200px;
            float:left;
        }
      
        .pic4{
            float: left;
            margin-left: 15px;
            margin-top: -20px;
        }
        .pic4 img{
            width:65px;
            height:55px;
        }
        .p2{
            float: left;
            margin-left: 10px;
            margin-top: -6px;
        }
        .p2 p{
            font-size: 1.6em;
            font-weight: bold;
            color:#f4511e;
            font-family: '微软雅黑';
        }
        .pic5 img{
            margin-left:5px;
            margin-top: -10px;
        }

        .zuihou{
             border-top: 1px solid orange;
             margin-left: 30px;
	     zoom:1;
	     overflow:auto;
             padding-bottom:40px;
        }
        .benqi{
            float:left;
            margin-top: 50px;
            margin-left: 100px;
            width:325px;
            background-color:lightyellow;
        }
        .benqi h4{
            text-align: center;
            color: black;
	    font-size:20px;
        }
        #pic7{
            width:325px;    
        }
        .zhaopian{
            float:left;
            margin-top: 50px;
            margin-left: 50px;
            width:330px;
            background-color: lightyellow;
        }
        .zhaopian h4{
            text-align: center;
            color: black;
	    font-size:20px;
        }
        .zhaopian p{
	    padding-left:5px;
	    padding-top:5px;
	    padding-right:5px;
            font-size: 1.31em;
            color: #555555;
            line-height: 1.8em;
	    text-align:left;
            font-family: 'Î¢ÈíÑÅºÚ';
        }
        .dianzan{
            float:left;
            margin-top: 50px;
            margin-left: 50px;
            width:325px;height:295px;
            background-color:lightyellow;
        }
        .dianzan h4{
            text-align: center;
            color: black;
	    font-size:20px;
        }
        .dianzan p{
            padding-left:5px;
	    padding-right:5px;
	    padding-top:5px;
            font-size: 1.31em;
            color: #555555;
            line-height: 1.8em;
	    text-align:left;
            font-family: 'Î¢ÈíÑÅºÚ';
        }

        .foot{background-color:#ffb61e; padding-left:70px;padding-top:10px;padding-bottom:10px;line-height:25px;} 
        .foot p
        {font-weight:normal;
        	color: white;
        	font-family: '微软雅黑';
        	font-size: 15px;
        	text-align: center;
        } 
        .mybody2
        {
            padding-top:10px;
            overflow:auto;
            zoom:1;
            width:1200px;
            background-color:#ffb61e;
        }
        .tab td{color: #000;font-size: 14px;margin-top:20px;}
        .tab tr{margin-top:20px;height:60px;}
        .form-group p{color: #000;}
