
    	<div class="col-md-10 col-md-offset-2 ">
    	  <ol class="breadcrumb">
    	    <li><a href="#">首页</a></li>
    	    <li><a href="#">攻略管理</a></li>
    	    <li class="active">问答</li>
  	    </ol>
    	  <div class="table-responsive ">
    	    <h3>问答</h3>
    	    <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="table  table-striped table-hover ">
    	      <tr>
              	<th width="4%"><input type="checkbox" name="checkbox10" id="checkbox10"></th>
    	          <th width="5%"> i d</th>
    	          <th width="15%">用户id</th>
    	          <th width="25%">问题</th>
                <th width="10%">提问时间</th>
    	        <th width="8%">操作</th>
  	        </tr>
            <volist name="question" id="question">
    	      <tr>
              	<th width="4%"><input type="checkbox" name="checkbox10" id="checkbox10"></th>
    	          <td>{$question.id}</td>
                <td>{$question.userid}</td>
    	          <td>{$question.question}</td>
                <td>{$question.time}</td>
    	        <td><a href="deletequestion/id/{$question.id}">删除</a></td>
  	        </tr> 
            </volist> 	     
  	      </table>
  	    </div>
        <div class="input-group pull-left form">
            <button type="submit" class="btn btn-danger "> 删 除</button>
        </div>
    	  <div class="input-group pull-left form">  
  	    </div>
    	  <ul class="pagination pull-right" >
    	    <li class="disabled"><a href="#">&laquo;</a></li>
    	    <li class="active"><a href="#">1</a></li>
    	    <li><a href="#">2</a></li>
    	    <li><a href="#">3</a></li>
    	    <li><a href="#">4</a></li>
    	    <li><a href="#">&raquo;</a></li>
  	    </ul>
        <div style="float:right">
        	<div class="table-responsive ">
    	    <h3>问题回答</h3>
    	    <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="table  table-striped table-hover">
    	      <tr>
              	<th width="4%"><input type="checkbox" name="checkbox10" id="checkbox10"></th>
    	       <th width="5%"> i d</th>
    	        <th width="5%">用户id</th>
    	        <th width="5%">问题id</th>
                <th width="10%">回答</th>
                 <th width="10%">发表时间</th>
    	        <th width="8%">操作</th>
  	        </tr>
            <volist name="answer" id="answer">
    	      <tr>
              	<th width="4%"><input type="checkbox" name="checkbox10" id="checkbox10"></th>
    	          <td>{$answer.id}</td>
                <td>{$answer.userid}</td>
                <td>{$answer.questionid}</td>
    	          <td>{$answer.answer}</td>
                <td>{$answer.answertime}</td>
    	        <td><a href="deleteanswer/id/{$answer.id}">删除</a> <a href="#"></a></td>
  	        </tr>	
            </volist>     
  	      </table>
  	    </div>
        <div class="input-group pull-left form">
            <button type="submit" class="btn btn-danger "> 删 除</button>
        </div>
        <div class="input-group pull-left form">  
  	    </div>
    	  <ul class="pagination pull-right" >
    	    <li class="disabled"><a href="#">&laquo;</a></li>
    	    <li class="active"><a href="#">1</a></li>
    	    <li><a href="#">2</a></li>
    	    <li><a href="#">3</a></li>
    	    <li><a href="#">4</a></li>
    	    <li><a href="#">&raquo;</a></li>
  	    </ul>
        </div>
  	  </div>  
	</div>